@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);




























#menu-0 .navbar-toggler {
  color: #5cb85c;
}
#menu-0 .nav-link {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}
#menu-0 .navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}
#header4-6 H1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  color: #ffffff;
}
#header4-6 P {
  color: #ffa900;
  font-family: 'Ubuntu', sans-serif;
}
#header4-6 .btn {
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-3 .mbr-section-title {
  font-family: 'Titillium Web', sans-serif;
}
#msg-box4-3 .lead P {
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
  color: #ffffff;
}
#msg-box4-3 .mbr-section-title B {
  color: #fbfbfb;
  font-size: 46px;
  font-family: 'Montserrat', sans-serif;
}
#msg-box1-u H2 {
  font-family: 'Roboto', sans-serif;
  color: #0275d8;
}
#msg-box1-u B {
  font-family: 'Montserrat', sans-serif;
  font-size: 46px;
  color: #fbfbfb;
}
#contacts3-2 B {
  font-size: 36px;
  color: #0275d8;
  font-family: 'Titillium Web', sans-serif;
}
#contacts3-2 UL {
  font-size: 13px;
}
#contacts3-2 P {
  font-family: 'Arimo', sans-serif;
  font-size: 15px;
  color: #00beef;
}
#contacts3-2 .btn {
  font-family: 'Open Sans', sans-serif;
}
#msg-box3-p .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-p .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-p .mbr-section-title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 32px;
  text-align: center;
}
#msg-box3-p .mbr-section-title B {
  font-size: 46px;
  color: #fbfbfb;
  font-family: 'Montserrat', sans-serif;
}
#msg-box3-p .lead P {
  font-family: 'Roboto', sans-serif;
  color: #00beef;
  text-align: center;
}
#msg-box3-16 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-16 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-16 .mbr-section-title {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
}
#msg-box3-16 .mbr-section-title B {
  color: #ffffff;
}
#msg-box3-x .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-x .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-x .mbr-section-title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}
#msg-box3-x .mbr-section-title B {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}
#content4-13 H4 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
#content4-13 DIV {
  color: #8f99af;
}
#content4-13 B {
  color: #000000;
}
#msg-box3-y .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-y .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-y .mbr-section-title B {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 36px;
}
#msg-box3-y .mbr-section-title DIV {
  font-size: 36px;
}
#msg-box3-y small {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 32px;
}
#image1-11 DIV {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #17236b;
  text-align: center;
}
#msg-box2-q H2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #ffffff;
}
#msg-box2-q P {
  font-family: 'Arimo', sans-serif;
  color: #ffffff;
}
#msg-box2-q .btn {
  font-family: 'Open Sans', sans-serif;
}
#contacts1-5 B {
  color: #ffffff;
}
#contacts1-5 P {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #ffffff;
}
#contacts1-5 DIV {
  color: #47c848;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}






#menu-7 .navbar-toggler {
  color: #5cb85c;
}
#menu-7 .nav-link {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}
#menu-7 .navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}
#form1-d .mbr-section-title {
  font-family: 'Roboto', sans-serif;
  color: #005075;
}
#form1-d .btn {
  font-family: 'Open Sans', sans-serif;
}
#contacts1-9 B {
  color: #ffffff;
}
#contacts1-9 P {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #ffffff;
}
#contacts1-9 DIV {
  color: #47c848;
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
}
